stages:
  - lint
  - build

eslint_job:
  stage: lint
  image: node:22
  before_script:
    - corepack enable
    - pnpm install
  script:
    - echo "Checking code style with Prettier and ESLint..."
    - pnpm run format
    - pnpm run lint
  allow_failure: false

build_job:
  stage: build
  image: node:22
  before_script:
    - corepack enable
    - pnpm install
  script:
    - pnpm install
    - echo "Checking if the project builds..."
    - pnpm run build
  allow_failure: false
