@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #222222;
  --primary: #004382;
  --secondary: #ffa146;
  --indigo-blue: #3377bb;
  --primary-grey: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-indigo-blue: var(--indigo-blue);
  --color-primary-grey: var(--primary-grey);
  --font-slab: var(--font-roboto-slab);
  --font-roboto: var(--font-roboto-normal);
}

@layer utilities {
  .text-contrast {
    color: var(--foreground);
  }

  .bg-primary .text-contrast {
    color: white;
  }

  .bg-secondary .text-contrast {
    color: var(--foreground);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* select {
  background: none;
} */
