@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #222222;
  --primary: #004382;
  --secondary: #ffa146;
  --indigo-blue: #3377bb;
  --primary-grey: #f5f5f5;
  --light-blue: #e1ebf5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-indigo-blue: var(--indigo-blue);
  --color-primary-grey: var(--primary-grey);
  --color-light-blue: var(--light-blue);
  --font-slab: var(--font-roboto-slab);
  --font-roboto: var(--font-roboto-normal);
}

@layer utilities {
  .text-contrast {
    color: var(--foreground);
  }

  .bg-primary .text-contrast {
    color: white;
  }

  .bg-secondary .text-contrast {
    color: var(--foreground);
  }
}

@layer rte {
  .rte {
    display: flex;
    flex-direction: column;
    gap: 12px;

    a {
      color: var(--color-primary);
      text-decoration: underline;
      word-wrap: break-word;
    }

    a:hover {
      color: var(--color-secondary);
    }

    h1 {
      font-size: 48px;
      font-weight: 700;
      word-wrap: break-word;
      @media (max-width: 1024px) {
        font-size: 24px;
      }
    }

    h2 {
      font-size: 30px;
      font-weight: 700;
      word-wrap: break-word;
      @media (max-width: 1024px) {
        font-size: 18px;
      }
    }

    h3 {
      /* mb-4, text-lg, font-bold */
      font-size: 18px;
      font-weight: 700;
      word-wrap: break-word;
      @media (max-width: 1024px) {
        font-size: 16px;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: 700;
      word-wrap: break-word;
      @media (max-width: 1024px) {
        font-size: 12px;
      }
    }

    p {
      max-width: 800px;
      font-size: 1rem;
      font-weight: 400;
      word-wrap: break-word;
    }

    ol {
      list-style: decimal;
      list-style-position: inside;
      /* padding-left: 24px; */
    }
    ul {
      list-style: none;
      list-style-position: inside;

      li {
        word-wrap: break-word;
        &::marker {
          content: '\2714\00a0';
        }
      }
      /* padding-left: 24px; */
    }
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* select {
  background: none;
} */
