@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #222222;
  --primary: #3377bb;
  --indigo-blue: #004382;
  --primary-grey: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-indigo-blue: var(--indigo-blue);
  --color-primary-grey: var(--primary-grey);
  --font-slab: var(--font-roboto-slab);
  --font-mono: var(--font-roboto-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
